body {
  background-color: #333;
  color: #ccc;
  font-family: ubuntu;
  padding: 0 1rem;

  h1 {
    color: orange;
  }

  .info-online {
    color: rgb(116, 230, 22);
    font-size: 200%;
    font-weight: bold;
    background-color: rgb(105, 105, 5);
  }

  .info-offline {
    color: rgb(221, 43, 43);
    font-size: 200%;
    font-weight: bold;
    background-color: aqua;
  }

  ul {
    li {
      background-color: rgb(34, 19, 68);
      color: rgb(241, 241, 128);
      font-size: larger;
      font-weight: bold;
      padding: 1rem;
    }
  }
}
